* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.btn{
    font-size: 20px;
    padding:18px 36px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
}

.logo{
    font-size: 45px;
}

.color-orange{
    color:#FD6E0A;
}

/* main styles */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.banner-contents{
    display: flex;
    margin-top: 46px;
    max-width: 1332px;
    margin-left: 230px;
    margin-right: 38px;
    justify-content: space-around;
    align-items: center;
}

.banner-info h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-info h2{
    font-size: 85px;
    margin-bottom: 18px;
}

.banner-info p{
    font-size: 18px;
    
}