* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.btn{
    font-size: 20px;
    padding:18px 36px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.logo{
    font-size: 45px;
}

.color-orange{
    color:#FD6E0A;
}

.heading-section{
    max-width: 827px;
    text-align: center;
}

.heading-section h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 30px;
}

.heading-section p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* main styles */
header {
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.banner-contents{
    display: flex;
    margin-top: 46px;
    margin-left: 230px;
    margin-right: 38px;
    justify-content: space-around;
    align-items: center;
    gap: 163px;

}

.banner-info{
    max-width: 585px;
}

.banner-image{
    max-width: 585px;
}

.banner-image img{
    width: 100%;
    vertical-align: middle;
}

.banner-info h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-info h2{
    font-size: 85px;
    margin-bottom: 18px;
}

.banner-info p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-btn{
    display: flex;
    gap: 30px;
}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .section-info{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.section-info .info-card p{
    font-size: 20px;
    color: #757575;
}

.section-info .info-card h2{
    font-size: 20px;
    color: #474747;
}

/* what i do section  */

#what-section-parent{
    padding-top: 130px;
}

#what-section-parent .what-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
}

.what-container .what-i-do-info{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.what-container .what-heading{
    text-align: center;
    margin-bottom: 30px;
}

.what-i-do-info .what-card{
    border-radius: 5px;
    max-width: 267px;
}

.what-card img{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#summary {
    padding-top: 130px;
}

#summary h1{
    text-align: center;
    margin-bottom: 30px;
}

#summary .summary-info-box{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 71px;
}

.summary-info-box .summary-box{
    width: 511px;
}

#btn2{
    margin-top: 50px;
    margin-bottom: 113px;
    text-align: center;
}

footer{
    padding-top: 130px;
}

footer .footer-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 117px;
}

.form input,
.form textarea{
    display: block;
    margin-bottom: 20px;
}